.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1.2fr 0.8fr;
  grid-template-rows: 0.4fr 1.4fr 1.4fr 0.4fr;
  grid-template-areas: "HEADER HEADER HEADER HEADER" "NAV CONTENT CONTENT ." ". CONTENT CONTENT ." "FOOTER FOOTER FOOTER FOOTER";
}

.CONTENT { grid-area: CONTENT; }

.HEADER { grid-area: HEADER; }

.FOOTER { grid-area: FOOTER; }

.NAV { grid-area: NAV; }